<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django | Playground App</title>
    <!-- <style>
        h1{
            color: red;
        };
    </style> -->
</head>
<body>
    <h1>This is a Html File rendered using django</h1>

    <!-- {{ class_data.name}} -->
    <!-- {% if attendance >= class_data.strength %}
    <p>attendance is 100%</p>
    {% elif attendance != 0 %}
    <p>attendance is between 100 - 1%</p>
    {% else %}
    <p>attendance is zero</p>
    {% endif %}     -->

     <!-- {% for key,value in class_data.items %}
    <p>{{key}} : {{value}}</p>
    {% endfor %} -->

    <!-- {% for student in class_data.lst %}
    <p>Student Name: {{ student }}</p>
    {% endfor %} -->

    
</body>
</html>