{% extends "base.html" %}
{% block title %}Following{% endblock %}

{% block body %}
{% include "navbar.html" %}
{% load custom_tags %}
<div class="container mt-5 pt-4">
    <h2>Following</h2>
    {% for following in data.followings %}
    <a href="{% url 'profile_view' following.username %}" class="anchor">
    <div class="follow-item">
        {% if following.UserProfileModel_user.has_profile_pic %}
        <img src="{{following.UserProfileModel_user.profile_picture.url}}" class="follow-profile-img"  style="border: 1px solid gray;" alt="Follower Image">
        {% else %}
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" style="border:1px solid grey;" " class="follow-profile-img" alt="Profile Image" style="border: 1px solid rgb(224, 211, 211);">
        {% endif %}
        
        <div>
            <h5>{{following.first_name}} {{following.last_name}}</h5>
            <p>@{{following.username}}</p>
        </div>
    </div>
    </a>
    {% endfor %}
</div>
{% endblock %}