{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block body %}
{% include "navbar.html" %}
<div class="container mt-5 pt-4">
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="#"><img src="{{user.UserProfileModel_user.profile_picture.url}}" class="profile-img" alt="Profile Image" style="border: 1px solid rgb(224, 211, 211);"></a>
            <h2 class="mt-2">{{user.username}}</h2>

            <p><strong>{{user.first_name}} {{user.last_name}}</strong><br/>{{user.UserProfileModel_user.bio}}</p>
            <div class="row profile-stat">
                <div class="col-4">
                    <strong>{{count.posts_count}}</strong><br>Posts
                </div>
                <div class="col-4">
                    <strong>{{count.followers_count}}</strong><br>Followers
                </div>
                <div class="col-4">
                    <strong>{{count.following_count}}</strong><br>Following
                </div>
            </div>
            <button class="btn btn-outline-primary btn-block mt-3">Edit Profile</button>
            <button class="btn btn-outline-primary btn-block mt-3">Edit Profile</button>
        </div>
        <div class="col-md-8">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="saved-tab" data-toggle="tab" href="#saved" role="tab" aria-controls="saved" aria-selected="false">Saved</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <div class="row mt-4">
                        <!-- Post -->
                        <div class="col-6 mb-4">
                            <div class="card post-card">
                                <a href="#"><img src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" class="card-img-top post-img" alt="Post Image"></a>
                                <div class="three-dots dropdown">
                                    <i class="fas fa-ellipsis-h" id="postOptions1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="postOptions1">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Post -->
                        <div class="col-6 mb-4">
                            <div class="card post-card">
                                <img src="post2.jpg" class="card-img-top post-img" alt="Post Image">
                                <div class="three-dots dropdown">
                                    <i class="fas fa-ellipsis-h" id="postOptions2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="postOptions2">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add more posts as needed -->
                    </div>
                </div>
                <div class="tab-pane fade" id="saved" role="tabpanel" aria-labelledby="saved-tab">
                    <div class="row mt-4">
                        <!-- Saved Post -->
                        <div class="col-6 mb-4">
                            <div class="card">
                                <img src="saved1.jpg" class="card-img-top post-img" alt="Saved Post Image">
                            </div>
                        </div>
                        <!-- Saved Post -->
                        <div class="col-6 mb-4">
                            <div class="card">
                                <img src="saved2.jpg" class="card-img-top post-img" alt="Saved Post Image">
                            </div>
                        </div>
                        <!-- Add more saved posts as needed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}